@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--surface-0);
}

.swiper {
  width: 100%;
  max-height: 180px;
  border-radius: 16px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

/*
  * Modified from: PrimeReact
  */
.p-password-input {
  width: 100%;
}

.p-dialog-title {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.p-inputtext {
  width: 100%;
  border-radius: 6px;
  font-size: 14 px;
}

/*
  * Modified from: Custom
  */

._no-scrollbar::-webkit-scrollbar {
  display: none;
}

._no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

._primary-bg {
  background-color: #604fe01f;
}

._shadow {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
}
